<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snacktime.devasia.snacktimedelivery" >

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Snacktime"
        android:theme="@style/SnacktimeTheme" >

        <activity
            android:name=".MainActivity"
            android:label="Snacktime"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCoHgf9fh7Z6o7R0XzXLEXijOVCuQwYcHU"/> <!-- Debug key -->
            <!-- android:value="AIzaSyB4GX9DsLC0hQaZjCw3vaCp_5vEdckTgpM"/> -->  <!-- Release key -->
            <!--android:value="AIzaSyAij8v8gSdDaJpP7Qa5NFLI1VW11zbPoKE"/>--> <!-- secret key -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- Used to render the map -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

</manifest>
